{% extends "index.html.twig" %}
{% block title %} Liste des articles - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h2 class="display-4">Liste des articles</h2>
    </div>
    <div class="col-lg-10 mx-auto">
        <div class="row">
            {% for article in articleList %}
                <div class="col-lg-3 mx-auto mb-3" style="width: 15rem;">
                    <div class="card">
                    <a href="/Article/Show/{{ article.id }}">
                        {% if article.ImageFileName != '' and    file_exist('./uploads/images/'~article.ImageRepository~'/'~article.ImageFileName) %}
                            <img class='card-img-top' alt='Article' src='/uploads/images/{{ article.ImageRepository }}/{{article.ImageFileName}}'/>
                        {% else %}
                            <h6 class="display-4">Pas d'image</h6>
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <a href="/Article/Show/{{ article.id }}"><h3>{{ article.Titre }}</h3></a>
                        <p class="font-italic">{{ article.Description | slice(0, 300)}}.....</p>
                        <p class="font-italic float-right">{{ article.Auteur }}</p>
                        {% set disponce = 0 %}
                        {% for role in session.login.roles %}
                            {% if (role =='redacteur') or (role =='administrateur')  %}
                                {% if disponce == 0 %}
                                {% set disponce = 1 %}
                        <a class="btn btn-warning" href="/Article/Update/{{ article.Id }}"><i class="fas fa-edit"></i></a>
                                    {% endif %}
                                {% endif %}
                        {% endfor %}
                        {% for role in session.login.roles %}
                        {% if role =='administrateur' %}
                        <a class="btn btn-danger" href="/Article/Delete/{{ article.Id }}"><i class="far fa-trash-alt"></i></a>
                            {% endif %}
                        {% endfor %}


                    </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}